<head>
    <title>Gadgets</title>
    <link rel="stylesheet" href="../userAssets/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="../userAssets/css/style.css">
    <style>
        .btn {
            cursor: pointer;
            border: 0;
            border-radius: 4px;
            font-weight: 600;
            margin: 0 10px;
            width: 200px;
            padding: 10px 0;
            box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
            transition: 0.4s;
        }

        .btn:hover {
            color: white;
            box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
            background-color: rgba(104, 85, 224, 1);
        }
    </style>


</head>
<!-- Font Icon -->
<!-- <script src="'https://www.gstatic.com/firebasejs/9.18.0/firebase-SERVICE.js'"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
    integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>



<div class="main">

    <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="https://img.freepik.com/free-icon/user_318-563642.jpg" alt="sing up image">
                    </figure>

                </div>

                <div class="signin-form">
                    <% if (message) { %>
                        <div style="color: rgb(21, 107, 34); text-align: center;">
                            <p>
                                <%= message%>
                            </p>
                        </div>
                        <% } %>
                            <h2 class="form-title">Login</h2>


                            <!-- <form action="/login-otp" method="POST" class="register-form" id="login-form">
                                    <div class="form-group">
                                        <label for="your_name"><i class="zmdi zmdi-phone"></i></label>
                                        <input type="text" name="number" id="number" placeholder="phone" required />
                                        <div id="recaptcha-container"></div>
                                        <input type="submit" id="get-otp-btn" class="form-submit" value="get otp" />


                                    </div>


                                </form>



                                <form action="/send-otp" method="POST" class="register-form" id="login-form">
                                    <div class="form-group">
                                        <label for="your_name"><i class="zmdi zmdi-phone"></i></label>
                                        <input type="text" name="number" id="number" placeholder="phone" required />


                                    </div>
                                    <div id="timer">0:30</div>
                                    <div class="form-group form-button">
                                        <input type="submit" id="get-otp-btn" class="form-submit" value="get otp" />
                                    </div>
                                </form> -->







                            <div id="sender">
                                <label for="your_name"><i class="zmdi zmdi-phone"></i></label>
                                <input type="text" id="number" placeholder="phone" name="number">
                                <div id="recaptcha-container"></div>
                                <button type="button" id="send" class="btn" onclick="phoneAuth()">Get
                                    OTP</button>



                            </div>
                            <div id="verifier" style="display: none;">
                                <input type="text" id="verificationcode" placeholder="OTP Code">
                                <button type="button" id="verify" class="btn" onclick="codeverify()">Send</button>

                                <div class="p-conf" style="display: none;">Number Verified</div>
                                <div class="n-conf" style="display: none;">OTP ERROE</div>
                            </div>

                            <div id="passwordchange" style="display: none;">

                                <input type="password" placeholder="Password" id="pass" name="password">
                                <input type="password" placeholder="confirm Password" name="confpassword">
                                <button type="button" class="btn" onclick="changePassword()">chanage password</button>




                            </div>



                </div>
            </div>
        </div>
    </section>
</div>

<script src="https://www.gstatic.com/firebasejs/6.0.2/firebase.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>


    const firebaseConfig = {
        apiKey: "AIzaSyCX8gFtMpBRhrhrTrh2kCzBZg6NoEtYNhI",
        authDomain: "ecommerce-fb5e3.firebaseapp.com",
        projectId: "ecommerce-fb5e3",
        storageBucket: "ecommerce-fb5e3.appspot.com",
        messagingSenderId: "531062840651",
        appId: "1:531062840651:web:a3a4d3c971f404035f9cce",
        measurementId: "G-4KZ468MMMP"
    };


    firebase.initializeApp(firebaseConfig);


    render();
    function render() {
        window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container');
        recaptchaVerifier.render();
    }

    async function phoneAuth() {
        var number = document.getElementById('number').value;

        $.ajax({
            url: '/forgot-password',
            data: {
                number
            },
            method: 'POST',
            success: (response) => {
                console.log(response, '________________________________');
                if (response.validate) {
                    firebase.auth().signInWithPhoneNumber(number, window.recaptchaVerifier).then(function (confirmationResult) {


                        window.confirmationResult = confirmationResult;
                        coderesult = confirmationResult;
                        document.getElementById('sender').style.display = 'none';
                        document.getElementById('verifier').style.display = 'block';
                        // location.assign('/')

                    }).catch(function (error) {
                        alert(error.message);
                    });
                } else {
                    Swal.fire({
                        title: 'number is not exist',
                        showClass: {
                            popup: 'animate_animated animate_fadeInDown'
                        },
                        hideClass: {
                            popup: 'animate_animated animate_fadeOutUp'
                        }
                    })
                }

            }
        })


    }


    function codeverify() {
        var code = document.getElementById('verificationcode').value;
        coderesult.confirm(code).then(function (response) {

            document.getElementById('sender').style.display = 'none';
            document.getElementById('verifier').style.display = 'none';
            document.getElementById('passwordchange').style.display = 'block';




           




            // document.getElementsByClassName('p-conf')[0].style.display = 'block';
            // document.getElementsByClassName('n-conf')[0].style.display = 'none';

        }).catch(function () {
            // document.getElementsByClassName('p-conf')[0].style.display = 'none';
            // document.getElementsByClassName('n-conf')[0].style.display = 'block';
            Swal.fire({
                title: 'invalid opt',
                showClass: {
                    popup: 'animate_animated animate_fadeInDown'
                },
                hideClass: {
                    popup: 'animate_animated animate_fadeOutUp'
                }
            })
        })
    }
    
    function changePassword() {
                var number = document.getElementById('number').value;
                var password = document.getElementById('pass').value;


                $.ajax({
                    url: '/update-password',
                    data: {
                        number, password
                    },
                    method: 'POST',
                    success: (response) => {
                        console.log(response, '________________________________');
                        if (response) {
                        location.assign('/')



                        }

                    }
                })

            }

</script>








<!-- JS -->
<script>
    function startTimer() {
        let timeLeft = 30;
        const timer = document.getElementById("timer");
        const interval = setInterval(() => {
            timeLeft--;
            const minutes = Math.floor(timeLeft / 30);
            const seconds = timeLeft % 30;
            timer.innerText = `${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;
            if (timeLeft === 0) {
                clearInterval(interval);
                timer.innerText = '';
                document.getElementById("get-otp-btn").disabled = false;
            }
        }, 1000);
        document.getElementById("get-otp-btn").disabled = true;
    }
    function changeContent() {
        const myDiv = document.getElementById("timer");
        // myDiv.innerText = "Loading...";
        setTimeout(() => {
            const anchorTag = document.createElement("a");
            anchorTag.innerText = "Resend otp";
            anchorTag.href = "https://example.com";
            myDiv.innerHTML = '';
            myDiv.appendChild(anchorTag);
        }, 30000);
    }



</script>
<script src="../userAssets/vendor/jquery/jquery.min.js"></script>
<script src="../userAssets/js/main.js"></script>