<%- include('../partials/UserHeader') %>

    <section id="contact-us" class="contact-us section">
        <div class="container">
            <div class="contact-head">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 col-12">
                        <div class="form-main">
                            <div class="title">
                                <h4>LOGIN WITH OTP</h4>
                            </div>

                            <div class="alert alert-danger text-center" role="alert" style="display: none"
                                id="invalid-phone"></div>

                            <div class="row form" id="sender">
                                <div class="col-lg-12 col-12">
                                    <div class="form-group">
                                        <label>Phone Number<span>*</span></label>
                                        <input type="text" id="number" placeholder="phone" name="number" required />
                                    </div>
                                </div>
                                <div class="col-lg-12 col-12">
                                    <div class="form-group">
                                        <div id="recaptcha-container"></div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-12">
                                    <div class="form-group">
                                        <input type="button" value="Get otp" class="btn" id="send" class="btn"
                                            onclick="phoneAuth()" />
                                    </div>
                                </div>
                            </div>

                            <div class="row form" id="verifier" style="display: none">
                                <div class="col-lg-12 col-12">
                                    <div class="form-group">
                                        <label>Enter your opt<span>*</span></label>
                                        <input type="text" id="verificationcode" placeholder="OTP Code" required />
                                    </div>
                                    
                                </div>

                                <div class="col-lg-12 col-12">
                                    <div class="form-group">
                                        <div id="timer">0:15</div>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-12" id="resend" style="display: none">
                                    <div class="form-group">
                                        <span>Don't recieve a code? </span><a style="color: blue"
                                            onclick="resendCode()">resend</a>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-12">
                                    <div class="form-group">
                                        <input type="button" value="submit" class="btn" id="verify"
                                            onclick="codeverify()" />
                                    </div>
                                </div>

                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
        integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://www.gstatic.com/firebasejs/6.0.2/firebase.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        const firebaseConfig = {
            apiKey: "AIzaSyCX8gFtMpBRhrhrTrh2kCzBZg6NoEtYNhI",
            authDomain: "ecommerce-fb5e3.firebaseapp.com",
            projectId: "ecommerce-fb5e3",
            storageBucket: "ecommerce-fb5e3.appspot.com",
            messagingSenderId: "531062840651",
            appId: "1:531062840651:web:a3a4d3c971f404035f9cce",
            measurementId: "G-4KZ468MMMP",
        };

        firebase.initializeApp(firebaseConfig);

        render();
        function render() {
            window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier(
                "recaptcha-container"
            );
            recaptchaVerifier.render();
        }

        async function phoneAuth() {
            var number = document.getElementById("number").value;

            $.ajax({
                url: "/login-otp",
                data: {
                    number,
                },
                method: "POST",
                success: (response) => {
                    if (response.validate) {
                        firebase
                            .auth()
                            .signInWithPhoneNumber(number, window.recaptchaVerifier)
                            .then(function (confirmationResult) {
                                window.confirmationResult = confirmationResult;
                                coderesult = confirmationResult;
                                document.getElementById("sender").style.display = "none";
                                document.getElementById("verifier").style.display = "block";
                                startTimer();
                            })
                            .catch(function (error) {
                                alert(error.message);
                            });


                    } else {
                        let msgDiv = document.getElementById("invalid-phone");
                        msgDiv.innerHTML = "number is not exist";
                        msgDiv.style.display = "block";
                    }
                },
            });
        }

        function codeverify() {
            var number = document.getElementById("number").value;

            var code = document.getElementById("verificationcode").value;
            coderesult
                .confirm(code)
                .then(function (response) {
                    $.ajax({
                        url: "/verify-otp",
                        data: {
                            number,
                        },
                        method: "POST",
                        success: (response) => {
                            if (response) {
                                location.assign("/");
                            }
                        },
                    });
                })
                .catch(function () {
                    let msgDiv = document.getElementById("invalid-phone");
                    msgDiv.innerHTML = "Invalid Otp";
                    msgDiv.style.display = "block";
                });
        }

        function startTimer() {
            let timeLeft = 15;
            const timer = document.getElementById("timer");
            const interval = setInterval(() => {
                timeLeft--;
                const minutes = Math.floor(timeLeft / 15);
                const seconds = timeLeft % 15;
                timer.innerText = `${minutes}:${seconds < 10 ? "0" : ""}${seconds}`;
                if (timeLeft === 0) {
                    clearInterval(interval);
                    timer.innerText = "";

                    document.getElementById("resend").style.display = "block";
                }
            }, 1000);
        }

        function resendCode(){
            startTimer();
        }

        // const resendCode = () => {
        //     var number = document.getElementById("number").value;
        //     console.log(number);
        //     firebase
        //         .auth()
        //         .signInWithPhoneNumber(number, window.recaptchaVerifier)
        //         .then(function (confirmationResult) {
        //             window.confirmationResult = confirmationResult;
        //             coderesult = confirmationResult;
        //             console.log(window.confirmationResult);
        //             window.confirmationResult
        //                 .confirm()
        //                 .then((result) => {
        //                     console.log("Verification code sent successfully.");
        //                     window.confirmationResult = result;
        //                 })

        //             startTimer();
        //         })
        //         .catch(function (error) {
        //             console.log(error);
        //             alert(error.message);
        //         });

        // };


    </script>

    <%- include('../partials/UserFooter') %>