<!DOCTYPE html>
<html>
<head>
	<title>Order Confirmation</title>
	<style>
		body {
			font-family: Arial, sans-serif;
			text-align: center;
           
		}

		.container {
			margin: 50px auto;
            margin-top: 180px;
			max-width: 600px;
			padding: 50px;
			background-color: #f9f9f9;
			border: 1px solid #ddd;
			border-radius: 10px;
		}

		h1 {
			font-size: 36px;
			color: #333;
			margin-bottom: 30px;
		}

		.success-icon {
			display: inline-block;
			width: 80px;
			height: 80px;
			border-radius: 50%;
			background-color: #8bc34a;
			color: #fff;
			font-size: 48px;
			line-height: 80px;
			margin-bottom: 30px;
		}

		p {
			font-size: 18px;
			color: #666;
			margin-bottom: 30px;
		}

		.btn {
			display: inline-block;
			padding: 10px 20px;
			background-color: #333;
			color: #fff;
			border-radius: 5px;
			text-decoration: none;
			font-size: 16px;
			transition: all 0.3s ease-in-out;
		}

		.btn:hover {
			background-color: #8bc34a;
		}a{
            margin-right: 60px;
        }
	</style>
</head>
<body>
	<div class="container">
		<div class="success-icon">&#10004;</div>
		<h1>Order Confirmed!</h1>
		<p>Thank you for your purchase. Your order has been confirmed and will be shipped soon.</p>
		<a href="/" class="btn">Continue Shopping</a>
		<a href="/view-orders" class="btn">Order details</a>

	</div>
</body>
</html>
