

    <!-- Font Icon -->
    <link rel="stylesheet" href="../userAssets/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="../userAssets/css/style.css"> 
</head>
<body>

<div class="main">

    <!-- Sign up form -->
    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title">Sign up</h2>
                    <% if (userExistMsg) { %>
                        <div id="errormessage" style="color: red;"><%=userExistMsg%></div>
                          <% }  %>
                    <form action="/signup" method="POST" class="register-form" id="register-form">
                        <div class="form-group">
                            <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input  type="text" name="name" id="name" placeholder="Your Name" onkeyup="validateName()" />
                        </div>
                        <span id="name-error" class="validation" style="color: red;"></span>

                        <div class="form-group">
                            <label for="email"><i class="zmdi zmdi-email"></i></label>
                            <input type="email" name="email" id="email" placeholder="Your Email" onkeyup="validateEmail()" />
                        </div>
                        <span id="email-error" class="validation" style="color: red;"></span>

                        <div class="form-group">
                            <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" name="password" id="password" placeholder="Password" onkeyup="validatePassword()" />
                        </div>
                        <span id="password-error" class="validation" style="color: red;"></span>

                        <!-- <div class="form-group">
                            <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                            <input type="password" name="re_password" id="re_pass" placeholder="Repeat your password"/>
                        </div> -->


                        <div class="form-group">
                            <label for="name"><i class="zmdi zmdi-phone"></i></label>
                            <input type="number" name="phone" id="phone" placeholder="Phone number"  />
                            <span id="phone-error" class="validation" style="color: red;"></span>
                        </div>


                        
                        <div class="form-group">
                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                            <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                        </div>
                        <span id="submit-error" class="validation" style="color: red;"></span>

                        <div class="form-group form-button">
                            <input type="submit"  id="signup" class="form-submit" value="Register" onclick=" return validateForm()" />
                        </div>
                    </form>
                </div>
                <div class="signup-image">
                    <figure><img src="https://img.freepik.com/free-icon/user_318-563642.jpg" alt="sing up image"></figure>
                    <a href="/login" class="signup-image-link">I am already member</a>
                </div>
            </div>
        </div>
    </section>
</div>



<script>

    var nameError = document.getElementById('name-error');
    var emailError = document.getElementById('email-error');
    var passwordError = document.getElementById('password-error');
    // var passwordError = document.getElementById('phone-error');
    var submitError = document.getElementById('submit-error');

    function validateName() {
        var name = document.getElementById('name').value;
        if (name.length == 0) {
            nameError.innerHTML = 'Name is required';
            return false;
        }
        if (!name.match(/^[A-Za-z]/)) {
            nameError.innerHTML = 'Invalid name';
            return false;
        }
        nameError.innerHTML = '';
        return true;
    }

    function validateEmail() {
        var email = document.getElementById('email').value;
        if (email.length == 0) {
            emailError.innerHTML = 'Email is required';
            return false;
        }
        if (!email.match(/^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/)) {
            emailError.innerHTML = 'Email invalid';
            return false;
        }
        emailError.innerHTML = '';
        return true;
    }

    function validatePassword() {
        var password = document.getElementById('password').value;
        var passChecker = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/;
        if (password.match(passChecker)) {
            passwordError.innerHTML = '';
            return true;
        } else {
            passwordError.innerHTML = 'invlid password';
            return false;
        }
    }

    // function validatePhoneNumber() {
    //     var phone = document.getElementById('phone').value;
    //     var submitError = document.getElementById('submit-error');

    //     var re = /^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/im;

    //     return re.test(phone);
    // }

    function validateForm() {
        if (!validateName() || !validateEmail() || !validatePassword()) {
            submitError.style.display = 'flex';
            submitError.style.justifyContent = 'center';
            submitError.innerHTML = 'All fields are required';
            setTimeout(() => {
                submitError.style.display = 'none';
            }, 3000);
            return false;
        }
    }


</script>



<script src="../userAssets/vendor/jquery/jquery.min.js"></script>
<script src="../userAssets/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
